{% extends "shared/layout.html" %}

{% block content %}

    <img src="/static/img/heat-pump.png" style="float: left; max-width: 80px; margin-right: 20px;" alt="">

    <h1><span class="font-semi-bold">Alaska Heat Pump Performance API</span> 
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
    <p class="lead">
        This API provides data and calculations related to assessing the performance
        and economics of heat pumps installed in Alaska buildings.  Endpoints are also provided
        for accessing the underlying Alaska community data, such as fuel and electric prices and weather data.
        Endpoints are available for doing general cash-flow economic analysis.
    </p>

    <p class="lead">
        Two styles of documentation are available for the API:
    </p>
    <ul>
        <li><a href="https://swagger.io/tools/swagger-ui/">Swagger</a> style documentation: <a href="/docs">Here</a></li>
        <li><a href="https://redocly.com/redoc">Redoc</a> style documentation: <a href="/redoc">Here</a></li>
    </ul>

    <p class="lead">
        Example usage will eventually be provided below:
    </p>

    </div>

{% endblock %}